
1. Create a series object from a list of 10 items using a customized index values
2. Create a Series object from a dictionary of 10 items 
3. Create a DataFrame object from a series object with customized index values
4. Create a DataFrame object generated from random values of 5 rows and 5 columns numpy array. Give each column a title and each index a name
5. Separate the DataFrame in (4) to its individual index , values and columns

In [1]:
import numpy as np
import pandas as pd

In [4]:
# Create a series object from a list of 10 items using a customized index values
student_id = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], index = ['ade', 'bisi', 'caro', 'dayo', 'Elizabeth', 'femi', 'gabby', 'henry', 'ireoluwa', 'Jacob'])
student_id

ade           1
bisi          2
caro          3
dayo          4
Elizabeth     5
femi          6
gabby         7
henry         8
ireoluwa      9
Jacob        10
dtype: int64

In [7]:
# Create a Series object from a dictionary of 10 items 
std_id = pd.Series({'ade':100, 'bisi':200, 'caro':300, 'dayo':400, 'elizabeth':500, 'femi':600, 'gabby':700, 'henry':800, 'ireoluwa':900, 'jacob':1000})
std_id

ade           100
bisi          200
caro          300
dayo          400
elizabeth     500
femi          600
gabby         700
henry         800
ireoluwa      900
jacob        1000
dtype: int64

In [25]:
#  Create a DataFrame object from a series object with customized index values
std_id = pd.Series({'ade':100, 'bisi':200, 'caro':300, 'dayo':400, 'elizabeth':500, 'femi':600, 'gabby':700, 'henry':800, 'ireoluwa':900, 'jacob':1000})
student_score = pd.DataFrame({'Score': std_id})
student_score

           Score
ade          100
bisi         200
caro         300
dayo         400
elizabeth    500
femi         600
gabby        700
henry        800
ireoluwa     900
jacob       1000

In [19]:
# Create a DataFrame object generated from random values of 5 rows and 5 columns numpy array. Give each column a title and each index a name
student = pd.DataFrame(np.random.randint(30,100,(5,5)), columns=['Mathematics', 'English', 'Chemistry', 'Physics',
                        'Biology'], index=['Ade', 'Bisi', 'Caro', 'Dayo', 'Ellen'])
student

       Mathematics  English  Chemistry  Physics  Biology
Ade             99       92         33       95       90
Bisi            58       53         55       50       48
Caro            38       48         70       96       90
Dayo            97       62         55       94       72
Ellen           38       79         98       59       42

In [21]:
#  Separate the DataFrame in (4) to its individual index , values and columns
value = student.values
value

array([[99, 92, 33, 95, 90],
       [58, 53, 55, 50, 48],
       [38, 48, 70, 96, 90],
       [97, 62, 55, 94, 72],
       [38, 79, 98, 59, 42]])

In [22]:
ind = student.index
ind

Index(['Ade', 'Bisi', 'Caro', 'Dayo', 'Ellen'], dtype='object')

In [24]:
col = student.columns
col

Index(['Mathematics', 'English', 'Chemistry', 'Physics', 'Biology'], dtype='object')